<!-- /* COMP229Assignment1 *//* Student Name: Yaaseen Khan *//* Student Number: 301164475 *//* OCT/9/2021 */ -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
  <!-- Main Content -->
<body>
  <main class="container">
     <%- include partials/Content/title_and_logo.ejs %>
    <section class="board-list">
      <%- include partials/Content/homeContent.ejs %>
    </section>
  </main> 
</body>

  <%- include partials/bottom_nav.ejs %>  
  
  <%- include partials/footer.ejs %>
 